.modifier{
    height:48px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(243, 223, 223);
    
}

.modifier:hover{
    background-color: rgb(238, 229, 229);
}